
* {
    padding: 0px;
    margin: 0px;
}
.header {
  display: inline-flex;
  width: 80%;
  background-color: rgb(181, 189, 115); 
  border: 5px solid rgb(115, 236, 238);
  justify-content: space-around;  
}
.main,.article,.aside,.section,.footer,.last {
   padding: 5%;
    background-color: rgb(68, 0, 255);
    flex-grow: 1;
  
}

.footer {
    background-color: deeppink;
    border:1px solid dodgerblue;
    
}